   .relsyn {
	text-decoration: none;
	} 
   .relsyn ul {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	}
   .relsyn ul li {
        display: inline-block;
	padding-right: 5px;
        }
   .relsyn a:hover {
	  background: #eee;
          padding: 5px;
	  text-decoration: none;
          cursor: pointer;
	}  

