.social-icon li {
  a[href*="facebook.com"]::before {
    color:   #3b5998;
  }
  a[href*="feed"]::before {
    color:   #ff6600;
  }
  a[href*="twitter.com"]::before {
    color:   #55ACEE;
  }
  a[href*="dribbble.com"]::before {
    color:   #ea4c89;
  }
  a[href*="plus.google.com"]::before, .gplus::before {
    color: #dd4b39;
  }
  a[href*="pinterest.com"]::before {
    color:   #c8232c;
  }
  a[href*="github.com"]::before {
    color:   #171515;
  }
  a[href*="tumblr.com"]::before {
    color:   #34526f;
  }
	a[href*="youtube.com"]::before {
    color:   #c4302b;
  }
  a[href*="flickr.com"]::before {
    color:   #ff0084;
  }
  a[href*="vimeo.com"]::before {
    color:   #1AB7EA;
  }
  a[href*="instagram.com"]::before, .instagram::before {
    color:   #3f729b;
  }
  a[href*="codepen.io"]::before {
    color:   #000;
  }
  a[href*="linkedin.com"]::before {
    color:   #0e76a8;
  }
  a[href*="skype.com"]::before, li a[href*="skype:"]::before {
    color:   #12A5F4;
  }
  a[href*="reddit.com"]::before {
    color: #000;
  }
  a[href*="foursquare.com"]::before {
    color: #000;
  }
  a[href*="getpocket.com"]::before {
    color: #e61010;
  }
  a[href*="dropbox.com"]::before {
    color: #007ee5;
  }
  a[href*="news.indiewebcamp.com"]::before {
    color: #000000;
  }
  a[href*="wordpress.org"]::before, .social-icon li a[href*="wordpress.com"]::before {
		color: #464646;
  }
}
