.relsyn ul, .relmewidget ul {
  display: inline-block;
	list-style: none;
	text-align: top;
	margin: 0;
	padding: 1px;
  li {
    display: inline-block;
	  padding-right: 5px;
		.svg-icon {
			fill: currentColor;
			vertical-align: middle;
			/*  position: relative;  Align more nicely with capital letters */
			top: -0.0625em;
		}
		.syn-name {
			font-size: .8em;
		}
    a {
	    text-decoration: none;
			color: black;
    }
    a:hover {
	    text-decoration: none;
      cursor: pointer;
			color: black;
	  }
		a:visited { 
			text-decoration: none;
			color: black;
		}
  }
}  

