ul.relsyn {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 1px;
	  li {
		display: inline-block;
		padding-right: 5px;
		font-size: .8em;
	}
}

.syndication-link-icon {
	svg {
		fill: currentColor;
		vertical-align: middle;
		top: -0.0625em;
		:hover {
			filter: brightness(50%);
		}
	}
}

a {
	:hover {
		.syn-link {
			text-decoration: none;
		}
	}
}
