.relsyn ul, .relmewidget ul {
  display: inline-block;
	list-style: none;
	text-align: top;
	margin: 0;
	padding: 1px;
  li {
    display: inline-block;
	  padding-right: 5px;
    a {
	    text-decoration: none;
    }
    a:hover {
	    text-decoration: none;
      cursor: pointer;
	  }
  }
}  

