.social-icon li {
  a::before {
    display:        inline-block;
    padding:        0 5px;
    font-family:    'Genericons';
    vertical-align: middle;
    content: '\f475';
    -webkit-font-smoothing: antialiased;
  }
  a[href*="facebook.com"]::before {
    content: '\f203';
    color:   #3b5998;
  }
  a[href*="feed"]::before {
    content: '\f413';
    color:   #ff6600;
  }
  a[href*="twitter.com"]::before {
    content: '\f202';
    color:   #55ACEE;
  }
  a[href*="dribble.com"]::before {
    content: '\f201';
    color:   #ea4c89;
  }
  a[href*="plus.google.com"]::before, .gplus::before {
    content: '\f206';
    color: #dd4b39;
  }
  a[href*="pinterest.com"]::before {
    content: '\f210';
    color:   #c8232c;
  }
  a[href*="github.com"]::before {
    content: '\f200';
    color:   #171515;
  }
  a[href*="tumblr.com"]::before {
    content: '\f214';
    color:   #34526f;
  }
	a[href*="youtube.com"]::before {
    content: '\f213';
    color:   #c4302b;
  }
  a[href*="flickr.com"]::before {
    content: '\f211';
    color:   #ff0084;
  }
  a[href*="vimeo.com"]::before {
    content: '\f212';
    color:   #1AB7EA;
  }
  a[href*="instagram.com"]::before, .instagram::before {
    content: '\f215';
    color:   #3f729b;
  }
  a[href*="codepen.io"]::before {
    content: '\f216';
    color:   #000;
  }
  a[href*="linkedin.com"]::before {
    content: '\f208';
    color:   #0e76a8;
  }
  a[href*="skype.com"]::before, li a[href*="skype:"]::before {
    content: '\f220';
    color:   #12A5F4;
  }
  a[href*="reddit.com"]::before {
    content: '\f222';
    color: #000;
  }
  a[href*="foursquare.com"]::before {
    content: '\f226';
    color: #000;
  }
  a[href*="getpocket.com"]::before {
    content: '\f224';
    color: #e61010;
  }
  a[href*="dropbox.com"]::before {
    content: '\f225';
    color: #007ee5;
  }
  a[href*="news.indiewebcamp.com"]::before {
    content: '\f508';
    color: #000000;
  }
  a[href*="contact"]::before, .social-icon li a[href*="mailto:"]::before {
	  content: '\f410';
	} 
	a[href*="subscribe"]::before {
    content: '\f463';
  }
  a[href*="sms:"]::before {
    content: '\f108';
  }
  a[href*="tel:"]::before {
    content: '\f50c';
  }
  a[href*="wordpress.org"]::before, .social-icon li a[href*="wordpress.com"]::before {
    content: '\f205';
		color: #464646;
  }
}
