.svg-icon {
	fill: currentColor;
	height: 1.2em;
	width: 1.2em;
	vertical-align: middle;
/*	position: relative;  Align more nicely with capital letters */
	top: -0.0625em;
	svg {
			display: inline-block;
	}
}


